<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="GetFileSoap" />
                <binding name="DocInfoSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="/_dav/cs/idcplg"
                binding="basicHttpBinding" bindingConfiguration="GetFileSoap"
                contract="GetFileSvc.GetFileSoap" name="GetFileSoap" />
            <endpoint address="/_dav/cs/idcplg"
                binding="basicHttpBinding" bindingConfiguration="DocInfoSoap"
                contract="DocInfoSvc.DocInfoSoap" name="DocInfoSoap" />
        </client>
    </system.serviceModel>
</configuration>