<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <appSettings>
        <add key="LoginUserName" value="" />
        <add key="LoginPassword" value="" />
        <add key="LoginEndpoint" value="[HOSTNAME]/login/j_security_check" />
        <add key="SiteReportEndpoint" value="[HOSTNAME]/cs/idcplg?IdcService=SS_GET_SITE_REPORT&amp;siteId=[SITEID]&amp;IsJson=1" />
        <add key="GetFileServiceEndpoint" value="[HOSTNAME]/_dav/cs/idcplg" />
        <add key="DownloadFileCacheDirectory" value="WebCenterFileCache\" />
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
